.image-text{
    position: absolute;
    top:75%;
    background-color: azure;
    border-radius: 5px;
    opacity: .5;    
    width: 100%;
    max-width: 80%;
    padding: 10px;
    margin-left: 8%;
    margin-right: 10%;  
}

.image-text h1 p{
    color:black;
    opacity: 2px;
    z-index:1;
}

.image-text p{
    font-size:15px;
}